<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="/main.js" defer="defer"></script>
        <title>メール通知登録</title>
        <style>
            form input:focus:invalid {
                color: tomato;
            }
            form input:valid:not(:last-child) {
                color: seagreen;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">mail-to-linemsg</a>
                <ul class="nav navbar-right">
                    <li><a href="/logout">logout</a></li>
                </ul>
            </div>
        </nav>
        <div id="container-root" class="container"></div>
        <div id="container-new" class="container"></div>
    </body>
</html>
